@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700');

body {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  background: GhostWhite;
  color: Indigo;
  margin: 0;
  padding: 24px;
  font-size: 16px;
  max-width: 640px;
}

h1 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 48px 0;
}

p {
  margin: 0;
}

form p {
  font-size: 32px;
  margin: 0 0 24px 0;
}

output {
  font-weight: bold;
  color: Plum;
}

footer {
  margin-top: 48px;
}

a {
  color: inherit;
}

a:hover {
  color: DeepPink;
}

input {
  all: unset;
  width: 128px;
  color: DeepPink;
  background: White;
  padding: 0 8px;
  border: 2px solid Lavender;
  border-radius: 8px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
